<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | {{doc_title}}</title>
    <link href="{{css_root}}/fxd.css" rel="stylesheet">
    <link href="{{css_root}}/prism.css" rel="stylesheet">
    <script src="{{fa_url}}" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <div class="nav-title">
        <a href="{{home_link}}">
            <h1>{{project_name}}</h1>    
        </a>
        <small class="version">v.{{version}}</small>
    </div>
    <div>
        <a id="nav-repo-link" href="{{repo_url}}"><span><i class="fab fa-github"></i></span></a>
        <button id="show-nav" onclick="toggleIndex()"><span><i class="fas fa-bars"></i></span></button>
    </div>
</nav>
<main>
    <section id="index">
        <div class="index-title">
            <div class="logo">
                <span><i class="fas fa-book"></i></span>
                <h1>{{project_name}}</h1>
            </div>
            <label>
                <input class="search-input" type="text" placeholder="Search...">
            </label>
        </div>
        <div id="index-repo-link">
            <a href="{{repo_url}}"><span><i class="fab fa-github"></i></span> <small>View repo</small></a>
        </div>
        {{&index}}
    </section>
    <section id="body">
        <section id="content">
            <div class="page-header">
                <div class="page-title">
                    <p>
                        <a href="{{home_link}}"><span><i class="fas fa-home"></i></span></a> &GreaterGreater; {{section_title}} &GreaterGreater; {{title}}
                    </p>
                </div>
            </div>
            {{&content}}
            <small>Generated on {{now}} with <a href="{{fxd_repo_url}}">FXD <span><i class="fab fa-github"></i></span></a> (version {{fxd_version}}).</small>
        </section>
    </section>
</main>
<script src="{{js_root}}/fxd.js"></script>
<script src="{{js_root}}/prism.js"></script>
</body>
</html>
{{end}}