<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{doc_name}}</title>
    <link href="../css/main.css" rel="stylesheet">
    <script src="{{fa_url}}" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <p>Nav</p>
</nav>
<main>
    <section id="index">
        <div class="index-title">
            <div class="logo">
                <span><i class="fas fa-book"></i></span>
                <h1>{{title}}</h1>
            </div>
            <label>
                <input class="search-input" type="text" placeholder="Search...">
            </label>
        </div>
        {{&index}}
    </section>
    <section id="body">
        <section id="content">
            <div class="page-header">
                <div class="page-title">
                    <p>
                        <a href="#"><span><i class="fas fa-home"></i></span></a> &GreaterGreater; {{name}}
                    </p>
                </div>
            </div>
            <h1>{{name}}</h1>
            <p><small>Namespace:</small> {{namespace}}</p>
            {{#class_collection}}
                <h2>Classes</h2>
                {{#classes}}
                    <details open>
                        <summary><h3 id="{{id}}">{{name}}</h3></summary>
                        <div class="details-content">
                            <p>{{summary}}</p>
                            {{#methods}}
                                <h4>Methods</h4>
                                <table>
                                    <thead>
                                    <tr>
                                        <th style="width: 33%">Name</th>
                                        <th style="width: 66%">Details</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#items}}
                                        <tr id="{{name}}">
                                            <td>
                                                <p>{{name}}</p>
                                                <small>{{signature}}</small>
                                            </td>
                                            <td>
                                                <p>{{summary}}</p>
                                                {{#parameters}}
                                                    <h5>{{name}}<small> : {{type}}</small></h5>
                                                    <p>{{document}}</p>
                                                {{/parameters}}

                                                <h5>Returns</h5>
                                                <p>{{returns}}</p>
                                            </td>
                                        </tr>
                                    {{/items}}
                                    </tbody>
                                </table>
                            {{/methods}}
                            {{#Properties}}
                                <h4>Properties</h4>
                                <table>
                                    <thead>
                                    <tr>
                                        <th style="width: 33%">Name</th>
                                        <th style="width: 66%">Details</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#items}}
                                        <tr id="{{name}}">
                                            <td>
                                                <p>{{name}}</p>
                                            </td>
                                            <td>
                                                <p>{{summary}}</p>
                                                <h5>Returns</h5>
                                                <p>{{returns}}</p>
                                            </td>
                                        </tr>
                                    {{/items}}
                                    </tbody>
                                </table>
                            {{/Properties}}
                        </div>
                    </details>
                {{/classes}}
            {{/class_collection}}
            {{#record_collection}}
                <h2>Records</h2>
                {{#records}}
                    <details open>
                        <summary>
                            <h3 id="{{id}}">{{name}}</h3>
                        </summary>
                        <div class="details-content">
                            <p>{{summary}}</p>
                            <h4>Fields</h4>
                            <table>
                                <thead>
                                <tr>
                                    <th style="width: 33%">Name</th>
                                    <th style="width: 66%">Type</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#fields}}
                                    <tr id="{{name}}">
                                        <td>
                                            <p>{{name}}</p>
                                        </td>
                                        <td>
                                            <p>{{type}}</p>
                                        </td>
                                    </tr>
                                {{/fields}}
                                </tbody>
                            </table>
                            {{#methods}}
                                <h4>Methods</h4>
                                <table>
                                    <thead>
                                    <tr>
                                        <th style="width: 33%">Name</th>
                                        <th style="width: 66%">Details</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#items}}
                                        <tr id="{{name}}">
                                            <td>
                                                <p>{{name}}</p>
                                                <small>{{signature}}</small>
                                            </td>
                                            <td>
                                                <p>{{summary}}</p>
                                                {{#parameters}}
                                                    <h5>{{name}}<small> : {{type}}</small></h5>
                                                    <p>{{document}}</p>
                                                {{/parameters}}

                                                <h5>Returns</h5>
                                                <p>{{returns}}</p>
                                            </td>
                                        </tr>
                                    {{/items}}
                                    </tbody>
                                </table>
                            {{/methods}}
                            {{#Properties}}
                                <h4>Properties</h4>
                                <table>
                                    <thead>
                                    <tr>
                                        <th style="width: 33%">Name</th>
                                        <th style="width: 66%">Details</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#items}}
                                        <tr id="{{name}}">
                                            <td>
                                                <p>{{name}}</p>
                                            </td>
                                            <td>
                                                <p>{{summary}}</p>
                                                <h5>Returns</h5>
                                                <p>{{returns}}</p>
                                            </td>
                                        </tr>
                                    {{/items}}
                                    </tbody>
                                </table>
                            {{/Properties}}
                        </div>
                    </details>
                {{/records}}
            {{/record_collection}}
            {{#union_collection}}
                <h2>Unions</h2>
                {{#unions}}
                    <details open>
                        <summary><h3 id="{{id}}">{{name}}</h3></summary>
                        <div class="details-content">
                            <p>{{summary}}</p>
                            <h4>Union cases</h4>
                            <table>
                                <thead>
                                <tr>
                                    <th style="width: 33%">Name</th>
                                    <th style="width: 66%">Type</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#union_cases}}
                                    <tr id="{{name}}">
                                        <td>
                                            <p>{{name}}</p>
                                        </td>
                                        <td>
                                            <p>{{type}}</p>
                                        </td>
                                    </tr>
                                {{/union_cases}}
                                </tbody>
                            </table>
                            {{#methods}}
                                <h4>Methods</h4>
                                <table>
                                    <thead>
                                    <tr>
                                        <th style="width: 33%">Name</th>
                                        <th style="width: 66%">Details</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#items}}
                                        <tr id="{{name}}">
                                            <td>
                                                <p>{{name}}</p>
                                                <small>{{signature}}</small>
                                            </td>
                                            <td>
                                                <p>{{summary}}</p>
                                                {{#parameters}}
                                                    <h5>{{name}}<small> : {{type}}</small></h5>
                                                    <p>{{document}}</p>
                                                {{/parameters}}

                                                <h5>Returns</h5>
                                                <p>{{returns}}</p>
                                            </td>
                                        </tr>
                                    {{/items}}
                                    </tbody>
                                </table>
                            {{/methods}}
                            {{#Properties}}
                                <h4>Properties</h4>
                                <table>
                                    <thead>
                                    <tr>
                                        <th style="width: 33%">Name</th>
                                        <th style="width: 66%">Details</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#items}}
                                        <tr id="{{name}}">
                                            <td>
                                                <p>{{name}}</p>
                                            </td>
                                            <td>
                                                <p>{{summary}}</p>
                                                <h5>Returns</h5>
                                                <p>{{returns}}</p>
                                            </td>
                                        </tr>
                                    {{/items}}
                                    </tbody>
                                </table>
                            {{/Properties}}
                        </div>
                    </details>
                {{/unions}}
            {{/union_collection}}
            {{#function_collection}}
                <details open>
                    <summary><h3 id="{{id}}">Functions</h3></summary>
                    <div class="details-content">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 33%">Name</th>
                                <th style="width: 66%">Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#functions}}
                                <tr>
                                    <td>
                                        <p>{{name}}</p>
                                        <small>{{signature}}</small>
                                    </td>
                                    <td>
                                        <p>{{summary}}</p>
                                        {{#parameters}}
                                            <h5>{{name}}<small> : {{type}}</small></h5>
                                            <p>{{document}}</p>
                                        {{/parameters}}

                                        <h5>Returns</h5>
                                        <p>{{returns}}</p>
                                    </td>
                                </tr>
                            {{/functions}}
                            </tbody>
                        </table>

                    </div>
                </details>
            {{/function_collection}}

            <h2>Modules</h2>

        </section>
    </section>
</main>
</body>
</html>
{{end}}